<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Gabble</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Gabble</a>
        <a href="/gab">Create a Gab</a>
        <a href="#">Logged in as {{name}}</a>
        <a href="/welcome">Sign Out</a>
      </nav>
    </header>
    <h1>Hello!</h1>
    {{#model}}
    <div id="{{id}}" class="gab">
      <p>{{users.username}}</p>
      <p>{{message}}</p>
      {{#UserLikes.length}}
      <a href="/like/{{id}}">Likes: {{.}}</a>
      {{/UserLikes.length}}
      {{^UserLikes.length}}
      <a href="/like/{{id}}">No Likes Yet</a>
      {{/UserLikes.length}}
      <span>
        <form class="like" action="/{{id}}" method="post">
          <input type="hidden" name="id" value="{{id}}">
          <input type="submit" name="like" value="Like">
        </form>
      </span>
      <!-- If user_id === req.session.id then make this visible -->
      {{#showDeleteIfOwner}}
      {{loggedInUser}}
      {{/showDeleteIfOwner}}
    </div>
    {{/model}}
  </body>
</html>
