<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>likes</h1>
    <div class="gab">
      {{#model}}
      <h3>{{users.username}}: {{message}}</h3>
      <p>Liked By:</p>
      <ul>
        <li></li>
      </ul>

      {{/model}}
    </div>
  </body>
</html>
